@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@-webkit-keyframes ufo-driver {
  0% {
    left: 33px;
    top: -63px;
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    top: 26px;
    left: 260px;
    -webkit-transform: scale(1.5) rotate(90deg);
            transform: scale(1.5) rotate(90deg); }
  100% {
    left: 17px;
    top: 143px;
    -webkit-transform: scale(2);
            transform: scale(2); } }
@keyframes ufo-driver {
  0% {
    left: 33px;
    top: -63px;
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    top: 26px;
    left: 260px;
    -webkit-transform: scale(1.5) rotate(90deg);
            transform: scale(1.5) rotate(90deg); }
  100% {
    left: 17px;
    top: 143px;
    -webkit-transform: scale(2);
            transform: scale(2); } }

@-webkit-keyframes ufo-driver-left {
  0% {
    left: 17px;
    top: 143px;
    -webkit-transform: scale(2);
            transform: scale(2); }
  50% {
    -webkit-transform: scale(3) rotate(90deg);
            transform: scale(3) rotate(90deg);
    top: 143px; }
  100% {
    left: 400px;
    top: 143px; } }

@keyframes ufo-driver-left {
  0% {
    left: 17px;
    top: 143px;
    -webkit-transform: scale(2);
            transform: scale(2); }
  50% {
    -webkit-transform: scale(3) rotate(90deg);
            transform: scale(3) rotate(90deg);
    top: 143px; }
  100% {
    left: 400px;
    top: 143px; } }

@-webkit-keyframes ufo-driver-coming {
  0% {
    right: -200px;
    top: 225px; }
  100% {
    right: -25px;
    top: 205px; } }

@keyframes ufo-driver-coming {
  0% {
    right: -200px;
    top: 225px; }
  100% {
    right: -25px;
    top: 205px; } }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#4e54c8), to(#8f94fb));
  background: linear-gradient(90deg, #4e54c8 0%, #8f94fb 100%);
  font-family: "Rubik", sans-serif; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header {
  margin: 0 auto;
  height: 100vh;
  position: relative; }

.header--menu-open {
  min-height: 820px; }

.header__wrapper {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 5px; }

.header__first-screen {
  width: 280px;
  margin: 0 auto; }

.header__btn {
  width: 50px;
  height: 20px;
  background-color: transparent;
  border: none;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 7px; }

.header__btn span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #4d34c1;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.header__btn span:nth-child(1) {
  top: 0; }

.header__btn span:nth-child(2),
.header__btn span:nth-child(3) {
  top: 14px; }

.header__btn span:nth-child(4) {
  top: 28px; }

.header__btn--opened span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.header__btn--opened span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.header__btn--opened span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.header__btn--opened span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.header__title {
  font-size: 23px;
  color: #fdf3f2;
  line-height: 29px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 25px;
  position: relative; }
  .header__title::before {
    content: "";
    background-image: url("../img/ufo.svg");
    width: 29px;
    height: 22px;
    position: absolute;
    left: 33px;
    top: -63px;
    background-repeat: no-repeat;
    -webkit-animation: ufo-driver 3.5s linear 1;
            animation: ufo-driver 3.5s linear 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    z-index: 100; }

.header__title__wrapper--animation::before {
  -webkit-animation: ufo-driver-left 2.5s linear 1;
          animation: ufo-driver-left 2.5s linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.header__title--hidden-decorate-element::before {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.header__title--decoration-element-animation::after {
  content: "";
  background-image: url("../img/ufo-driver.svg");
  width: 278px;
  height: 211px;
  position: absolute;
  top: 205px;
  right: -25px;
  -webkit-animation: ufo-driver-coming 1.5s linear 1;
          animation: ufo-driver-coming 1.5s linear 1; }

.header__title span {
  color: #00f38d; }

.header__text {
  color: #fdf3f2;
  margin-bottom: 25px;
  margin-top: 0; }

.header__text span {
  font-weight: bold;
  color: #00f38d; }

.header__link {
  color: #fdf3f2;
  font-size: 18px;
  border: 3px solid #4d34c1;
  border-radius: 100px;
  display: inline-block;
  min-height: 50px;
  line-height: 50px;
  padding: 0 85px;
  vertical-align: middle;
  position: relative; }

.main-nav {
  margin-bottom: 25px;
  min-height: 340px; }

.main-nav__item {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-nav__link {
  color: #00f38d;
  font-size: 18px; }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  opacity: 1; }

.main-nav__image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%; }

.about-me {
  min-height: 1025px;
  width: 280px;
  margin: 0 auto;
  position: relative; }
  .about-me::before {
    content: "";
    background-image: url("../img/planet.svg");
    position: absolute;
    width: 297px;
    height: 270px;
    bottom: 0; }

.about-me__title {
  font-size: 22px;
  color: #fdf3f2;
  margin: 0;
  margin-bottom: 25px; }

.about-me__text {
  font-size: 18px;
  color: #00f38d;
  position: relative;
  margin: 0;
  margin-bottom: 25px; }
  .about-me__text::before {
    content: "";
    background-image: url("../img/image-decorate.svg");
    width: 117px;
    height: 177px;
    position: absolute;
    top: 175px;
    left: -20px; }
  .about-me__text::after {
    content: "";
    background-image: url("../img/image-decorate.svg");
    width: 117px;
    height: 177px;
    position: absolute;
    top: 417px;
    right: -60px; }

.about-me__name {
  font-size: 20px;
  color: #fdf3f2;
  margin: 0; }

.about-me__positions {
  margin: 0;
  color: #00f38d;
  font-size: 18px;
  width: 200px;
  margin-bottom: 25px; }

.about-me__soc {
  margin-bottom: 25px; }

.about-me__soc-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.about-us__email {
  color: #00f38d;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
