.header {
  margin: 0 auto;
  min-height: 470px;
  position: relative;
}

.header--menu-open {
  min-height: 820px;
}

.header__wrapper {
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.header__first-screen {
  width: 280px;
  margin: 0 auto;
}

.header__btn {
  width: 50px;
  height: 20px;
  background-color: transparent;
  border: none;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 7px;
}

.header__btn span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: $purple;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.header__btn span:nth-child(1) {
  top: 0;
}

.header__btn span:nth-child(2),
.header__btn span:nth-child(3) {
  top: 14px;
}

.header__btn span:nth-child(4) {
  top: 28px;
}

.header__btn--opened span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header__btn--opened span:nth-child(2) {
  transform: rotate(45deg);
}

.header__btn--opened span:nth-child(3) {
  transform: rotate(-45deg);
}

.header__btn--opened span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header__title {
  font-size: $h1-mobile;
  color: $white;
  line-height: 29px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 25px;
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/ufo.svg");
    width: 29px;
    height: 22px;
    position: absolute;
    left: 33px;
    top: -63px;
    background-repeat: no-repeat;
    animation: ufo-driver 3.5s linear 1;
    animation-fill-mode: forwards;
    z-index: 100;
  }
}

.header__title__wrapper--animation {
  &::before {
    animation: ufo-driver-left 2.5s linear 1;
    animation-fill-mode: forwards;
  }
}

.header__title--decoration-element-animation {
  &::after {
    content: "";
    background-image: url("../img/ufo-driver.svg");
    width: 278px;
    height: 211px;
    position: absolute;
    top: 205px;
    right: -25px;
    animation: ufo-driver-coming 1.5s linear 1;
  }
}

.header__title span {
  color: $green;
}

.header__text {
  color: $white;
  margin-bottom: 25px;
  margin-top: 0;
}

.header__text span {
  font-weight: bold;
  color: $green;
}

.header__link {
  color: $white;
  font-size: 18px;
  border: 3px solid $purple;
  border-radius: 100px;
  display: inline-block;
  min-height: 50px;
  line-height: 50px;
  padding: 0 85px;
  vertical-align: middle;
  position: relative;
}
