@keyframes ufo-driver {
  0% {
    left: 33px;
    top: -63px;
    transform: scale(1);
  }

  50% {
    top: 26px;
    left: 260px;
    transform: scale(1.5) rotate(90deg);
  }

  100% {
    left: 17px;
    top: 143px;
    transform: scale(2);
  }
}

@keyframes ufo-driver-left {
  0% {
    left: 17px;
    top: 143px;
    transform: scale(2);
  }

  50% {
    transform: scale(3) rotate(90deg);
    top: 143px;
  }

  100% {
    left: 400px;
    display: none;
    top: 143px;
  }
}

@keyframes ufo-driver-coming {
  0% {
    right: -200px;
    top: 225px;
  }

  100% {
    right: -25px;
    top: 205px;
  }
}
