body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  background: linear-gradient(90deg, #4E54C8 0%, #8F94FB 100%);
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
