// colours

$green: #00f38d;
$purple: #4d34c1;
$white: #fdf3f2;
$black: #030100;

// font sizes

$h1-desk: 50px;
$h2-desk: 45px;
$h3-desk: 40px;
$p-desk: 35px;

$h1-tablet: 40px;
$h2-tablet: 35px;
$h3-tablet: 30px;
$p-tablet: 25px;

$h1-mobile: 23px;
$h2-mobile: 22px;
$h3-mobile: 20px;
$p-mobile: 18px;